body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #5a4b4a;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.button-container {
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #5a4b4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #b89b32;
}
